
{% extends "coderdojomobile/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Event" %}{% endblock %}

{% block page_styles %}
{% endblock page_styles%}

{% block content %}



<div class="container">

			{% if event %}


        <h2 class="text-center">{{event.title}}</h2>
        
        <p class="text-center" >{{event.description}}</p>
        
        {% if ticket_found %}
            <p>
            {% if ticket.has_checked_in %}
                {% blocktrans with participant=ticket.participant %}Check in {{ participant }}!{% endblocktrans %} {# i18n with variables #}
                {% if waiver_is_valid %}
                {% else %}
                <p style="color:red;"> {% trans "waiver_invalid_or_expired" %} </p>
                {% endif %}
            {% else %}  
                {% blocktrans with participant=ticket.participant %}Cancel Check in {{ participant }}!{% endblocktrans %} 
            {% endif %}
            </p>
        {% else %}
        <p style="color:red;">{% trans "ticket_not_found" %}</p>
        {% endif %}
        <a href="{% url 'coderdojomobile:eventDetails' event.id %}" >{% trans "Back to the event"%}</a>
        

	</div>
			{% else %}
	<p>{% trans "Event_not_found" %}</p>
			{% endif %}

</div>


{% endblock content %}