{% extends "coderdojomobile/base.html" %}

{% load static %}

{% block title %}HOMEPAGE CODERDOJO MOBILE TOOLKIT{% endblock %}

{% block content %}


    <div class="jumbotron">
      <div class="container">
        <h1>Ciao, Ninja!</h1>
        <p>Questo è il sito "portatile" del CoderDojo. Si trova proprio lì, dentro quella scatoletta che si chiama Raspberry Pi. In questo sito puoi trovare materiale utile per il CoderDojo</p>
        
      </div>
    </div>

    <div class="container">
		 <div class="row">
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:tutorials' %}">
				<img src="{% static 'toolbox/immagini/foglio scritto.svg' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Guide ed Esempi">
				<h2 class="text-center">Guide ed Esempi</h2>
				<p class="text-center" >Guide, Tutorial, Sushi Card e altro. Insomma, tanto materiale che spiega come creare giochi e altro</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:soft' %}">
				<img src="{% static 'toolbox/immagini/if_Science__Technology_29_2633202.svg' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Programmi">
				<h2 class="text-center">Programmi</h2>
				<p class="text-center" >Programmi per creare giochi e immagini</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:sprites' %}">
					<img src="{% static 'toolbox/images/sprites.svg' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Sprites" >
					<h2 class="text-center">Sprite</h2>
					<p class="text-center" >Tante immagini per creare i tuoi giochi</p>
				</a>
			</div>
		</div>
	</div>

{% endblock content %}