{% extends "coderdojomobile/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}HOMEPAGE CODERDOJO MOBILE TOOLKIT{% endblock %}

{% block content %}


    <div class="jumbotron">
      <div class="container">
        <h1>{% trans "welcome_sentence" %}</h1>
        <p>{% trans "welcome_banner" %}</p>
        
      </div>
    </div>

    <div class="container">
		 <div class="row">
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:learningTopicGuides' %}">
				<img src="{% static 'toolbox/images/foglio scritto.svg' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Guide ed Esempi">
				<h2 class="text-center">{% trans "Guides" %}</h2>
				<p class="text-center" >{% trans "Guides_Long" %}</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:softwareTopics' %}">
				<img src="{% static 'toolbox/images/software.png' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Programmi">
				<h2 class="text-center">{% trans "Tools" %}</h2>
				<p class="text-center" >{% trans "Tools_Long" %}</p>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{% url 'coderdojomobile:sprites' %}">
					<img src="{% static 'toolbox/images/sprites.svg' %}" class="img-responsive center-block" style="width: 100% \9;" alt="Sprites" >
					<h2 class="text-center">{% trans "Sprites" %}</h2>
					<p class="text-center" >{% trans "Sprites_Long" %}</p>
				</a>
			</div>
		</div>
	</div>

{% endblock content %}