
{% extends "coderdojomobile/learningTopicsBase.html" %}
{% load i18n %}
{% block content %}



<div class="container">
	<div class="page-header">
		<h1>Argomenti</h1>
	</div>

<div class="row">
            {% if learning_topics %}
            {% for topic in learning_topics %}
        <div class="col-md-4">
            <a href="{% url 'coderdojomobile:soft' topic.id %}">
				<img src="{{topic.screenshot.url }}" class="img-responsive center-block" style="width: 100% \9;" alt="{{topic.title}}">
				<h2 class="text-center">{{topic.title}}</h2>
				<p class="text-center" >{{topic.description}}</p>
			</a>
		</div>

				{% endfor %}
</div>
			{% else %}
	<p>{% trans 'No_Topic_Available' %}</p>
			{% endif %}

</div>


{% endblock content %}