
{% extends "coderdojomobile/base.html" %}

{% load static %}

{% block title %}Software per CoderDojo{% endblock %}

{% block content %}


<div class="container">
<h1>Software disponibile</h1>
<br><br>

<h3> Windows </h3>
<ul>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Windows/AdobeAIRInstaller.exe'%}"> AdobeAir</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Windows/Scratch-454.exe'%}"> Scratch 2</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/inkscape-0.92.3-x64.msi'%}">Inkscape</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/arduino-1.8.5-windows.exe'%}"> Arduino-1.8.5-windows</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/VNC-Viewer-6.17.1113-Windows.exe'%}"> VNC Viewer</a></li>
	
</ul>

<h3> Mac Os X</h3>
<ul>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Mac OS X/AIR/AdobeAIR.dmg'%}">AdobeAir</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Mac OS X/Scratch-454.dmg'%}"> Scratch 2</a></li>
</ul>

<h3> Linux </h3>
<ul>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Linux/AdobeAIRInstaller.bin'%}"> AdobeAir</a></li>
	<li><a href="{% static 'toolbox/softwareDojo/Installer Scratch/Linux/Scratch-454.air'%}"> Scratch 2</a></li>
</ul>

</div>
{% endblock content %}