
{% extends "coderdojomobile/base.html" %}

{% load static %}

{% block title %}Software per CoderDojo{% endblock %}
{% load i18n %}
{% block content %}



<div class="container">
	<div class="page-header">
		<h1>{% trans "Software" %}</h1>
	</div>

			{% if sw_by_os %}
            <ul>
				{% for os_title,sw_for_that_os in sw_by_os.items %}
                <h3> {{os_title}} </h3>
                <ul>
                    {% for sw in sw_for_that_os %}
                    <li><a href="{{sw.executable.file.url}}">{{sw.title}}</a>
                    {% endfor %}
                </ul>
				{% endfor %}
            </ul>
			{% else %}
	<p>{% trans "No_Software_Available" %}</p>
			{% endif %}

{% endblock content %}