
{% extends "coderdojomobile/base.html" %}
{% load static %}
{% block title %}Tutorial{% endblock %}

{% block page_styles %}
<style>

	div.tutorial    {  padding:10px; }

	div.description    { padding-left:10px; display: inline-block; }
	sprite img {margin:10px;}
</style>
{% endblock page_styles%}
{% block content %}



<div class="container">
	<div class="page-header">
		<h1>Tutorial</h1>
	</div>


			{% if projects %}
				{% for project in projects %}
	<a href="{% url 'coderdojomobile:tutorial' project.id %}">
		<div class="row tutorial">
			<div class="col-md-4">
                {# We are serving from media files, so we use the url property of the file #}
				<img src="{{project.screenshot.file.url }}" class="img-responsive center-block" style="width: 100% \9;" alt="{{category.category_name}}" />
			</div>
			<div class="col-md-8">

				<h2 class="text-left">{{project.title}}</h2>

				<p class="text-left" >{{project.description}}</p>

			</div>
		</div>
	</a>
				{% endfor %}

			{% else %}
	<p>Nessun Tutorial Disponibile</p>
			{% endif %}

<p>Upload a Tutorial</p>

    <form action="{% url 'coderdojomobile:tutorials' %}" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                     {% for field in form.visible_fields %}
                    <div class="row tutorial"> 
                      <div class="col-md-12">
                        {{ field.label_tag }}

                          {{ field.errors }}
                          {{ field }}
                          {{ field.help_text }}
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit" />
    </form>
</div>


{% endblock content %}