
{% extends "coderdojomobile/base.html" %}
{% load static %}
{% block title %}Tutorial{% endblock %}
{% load i18n %}
{% block page_styles %}
{% endblock page_styles%}

{% block content %}



<div class="container">
	<div class="page-header">
		<h1>{% trans 'tutorial'%}</h1>
	</div>
			{% if project %}

	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">{{project.title}}</h2>
			<img src="{{project.screenshot.file.url }}" class="img-responsive center-block" style="width:400px" alt="{{category.category_name}}" />

			<p class="text-center" >{{project.description}}</p>
            {% if perms.change_learningmaterial %} {#Only users with the appropriate permission can see the tutorial #}
			<h2 class="text-left" ><a href="{{project.tutorial.file.url }}">{% trans 'tutorial'%}</a></h2>
            {% endif %}
		</a>


		<h2 class="text-left" >{% trans 'Resources'%}</h2>
<ul>
				{% for project_resource in project_resources %}
		<li><a href="{{project_resource.file.url }}">{{project_resource.title}}</a></li>
				{% endfor %}
</ul>
	</div>
			{% else %}
	<p>{% trans 'tutorial_not_found' %}</p>
			{% endif %}

</div>


{% endblock content %}